<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        >
<head>
    <title>Rock Paper Scissors Lizard Spock</title>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="Rock Paper Scissors Lizard Spock"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes"/>
    <link rel="icon" sizes="192x192" th:href="@{/images/android-desktop.png}"/>

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-title" content="Material Design Lite"/>
    <link rel="apple-touch-icon-precomposed" th:href="@{/images/ios-desktop.png}"/>

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" th:content="@{/images/touch/ms-touch-icon-144x144-precomposed.png}"/>
    <meta name="msapplication-TileColor" content="#3372DF"/>

    <link rel="shortcut icon" th:href="@{/images/favicon.png}"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.indigo-pink.min.css"/>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">
                <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">pan_tool</i>
                Rock Paper Scissors Lizard Spock
            </span>

            <div class="mdl-layout-spacer"></div>
        </div>
    </header>
    <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header" th:if="${#authorization.expression('isAuthenticated()')}">
            <img th:src="${session.player.imageUrl}" class="demo-avatar" />

            <div class="demo-avatar-dropdown">
                <span th:text="${session.player.displayName}">hello@example.com</span>

                <div class="mdl-layout-spacer"></div>
                <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                    <i class="material-icons" role="presentation">arrow_drop_down</i>
                    <span class="visuallyhidden">Accounts</span>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
                    <li class="mdl-menu__item"><i class="material-icons">account_circle</i><a th:href="${session.player.profileUrl}">Go to Twitter account</a></li>
                </ul>
            </div>
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
            <a class="mdl-navigation__link" th:href="${'/'}">
                <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>
                Home
            </a>
            <a class="mdl-navigation__link" th:href="${'/play'}">
                <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">pan_tool</i>
                Play
            </a>
        </nav>
    </div>
    <main class="mdl-layout__content mdl-color--grey-100" layout:fragment="content">
        Content goes here
    </main>
</div>
<script src="https://code.getmdl.io/1.1.1/material.min.js"></script>
</body>
</html>
