.solid {
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 260px;
    border: 6px outset darkcyan;
    background-color: cadetblue;
    height: 20px;
}
#solid2 {
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 290px;
    border: 6px outset darkslategrey ;
    background-color: #002b36;
    height: 20px;
}
#solid3 {
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 300px;
    border: 6px outset darkgreen;
    background-color: white;
    height: 20px;
}
#solid4 {
    margin-top: 25px;
    padding-top: 20px;
    padding-bottom: 260px;
    border: 6px outset #dd5566;
    background-color: #ff2c2d;
    height: 20px;
}
.color {
    color: aqua;
    font-size: 20px;
    margin-top: -5px;
}
.color2 {
    color: darkcyan ;
    font-size: 20px;
    margin-top: -9px;
    background-color: whitesmoke;
    height: 30px;

}
#color3 {
    color: seagreen ;
    font-size: 20px;
    margin-top: -5px;
}
.zwart {
    background-color: black;
    margin-top: -20px;
}
.list-group-item.rand {
    border: 1px solid darkcyan;
}
button:active {
    color: darkcyan;
}
.list-group-item.rand:hover {
    background-color: darkcyan;
    color: white;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.list-group-item.rand:active {
    color: #999999;
}

.list-group-item.rand:disabled{
    background-color: lightgray;
    color: black;
}


#name {
    font-size: 20px;
    color: white;
}




.forform {
    background: #000;
    padding: 5px;
    position: relative;
    bottom: 0;
    width: 700px;
    font: 13px Helvetica, Arial;
}
.forinput {
    border: 1px solid darkcyan;
    padding: 5px;
    width: 625px;
    margin-right: .5%;
}
.forbutton {
    width: 60px;
    background-color: white;
    border: 1px solid darkcyan;
    padding: 1px;
}
#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.gesprek {
    width:700px;
    height:270px;
    line-height: 1em;
    overflow-y: auto;
    padding:5px;
}
#messages li {
    padding: 5px 10px;
}
#messages li:nth-child(odd) {
    background: seagreen;
}
.forbutton:active {
    border: 2px solid darkcyan;
}


.witvierkant {
    height: 280px;
    width: 350px;
}

.witvierkant2 {
    height: 280px;
    width: 350px;
}
.vs {
    font-size: 80px;
    font-family: sans-serif;
    color: white;
}

#bovensolid2 {
    text-align: center;
}


























