#solid {
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 260px;
    border: 6px outset darkcyan;
    background-color: #888888;
    height: 20px;
}
#solid2 {
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 290px;
    border: 6px outset darkslategrey ;
    background-color: #002b36;
    height: 20px;
}
#solid3 {
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 300px;
    border: 6px outset darkgreen;
    background-color: white;
    height: 20px;
}
#solid4 {
    margin-top: 25px;
    padding-top: 20px;
    padding-bottom: 260px;
    border: 6px outset #dd5566;
    background-color: #ff2c2d;
    height: 20px;
}
#color {
    color: aqua;
    font-size: 20px;
    margin-top: -5px;
}
#color2 {
    color: darkcyan ;
    font-size: 20px;
    margin-top: -5px;
}
#color3 {
    color: seagreen ;
    font-size: 20px;
    margin-top: -5px;
}
.zwart {
    background-color: black;
    margin-top: -20px;
}
#rand {
    border: 1px solid darkcyan;
}
button:active {
    color: darkcyan;
}
#rand:hover {
    background-color: darkcyan;
    color: white;
    transition: all 0.3s ease 0s;
}
#rand:active {
    color: #999999;
}
#name {
    font-size: 20px;
    color: white;
}
#play {
    position: relative;
    height: 50px;
}
#play:hover {
    border: 1px solid red;
}
#play:active {
    color: red;
    border: 3px solid red;
}








.forform {
    background: #000;
    padding: 5px;
    position: fixed;
    bottom: 5px;
    width: 700px;
    font: 13px Helvetica, Arial;
}
.forinput {
    border: 1px solid darkcyan;
    padding: 5px;
    width: 625px;
    margin-right: .5%;
}
.forbutton {
    width: 60px;
    background-color: white;
    border: 1px solid darkcyan;
    padding: 1px;
}
#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#messages li {
    padding: 5px 10px;
}
#messages li:nth-child(odd) {
    background: #eee;
}

.forbutton:active {
    border: 2px solid darkcyan;
}












